.autocomplete {
  position: relative;
  display: block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.selected {
  font-weight: bolder !important;
  background-color: #ff0039 !important;
  color: #ffffff;
  text-align: center !important;
}

.logo {
  position: relative;
}

.logo::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../OFFSIDE.jpeg");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -200;
}

@media (max-width: 1023px) {
  .hide-0-to-1024 {
    display: none;
  }
}

@media (max-width: 1023px) {
  .movil-menu {
    visibility: visible;
  }
}

@media (min-width: 1024px) {
  .movil-menu {
    visibility: hidden;
  }
}

@media (max-width: 1023px) {
  .r-image {
    max-width: 20px;
  }
}

@media (min-width: 1024px) {
  .r-image {
    max-width: 45px;
  }
}

.menu-container {
  display: inline-block;
  cursor: pointer;
  width: 70px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: var(--bs-gray-600);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.showMenu {
  display: inline-block;
  position: fixed;
}
